LINKPARSE_API_KEYS=change-me
LINKPARSE_REDIS_URL=redis://:<redis-password>@tolink-redis:6379/5
LINKPARSE_DATA_DIR=/app/data
LINKPARSE_MAX_UPLOAD_MB=50
LINKPARSE_MAX_PDF_PAGES=50
LINKPARSE_DEFAULT_DPI=200
LINKPARSE_MAX_DPI=300
LINKPARSE_TEXT_THRESHOLD=50
LINKPARSE_TASK_TIME_LIMIT_SECONDS=300
LINKPARSE_JOB_RESULT_TTL_HOURS=24
LINKPARSE_CLEANUP_INTERVAL_MINUTES=60
LINKPARSE_LOG_LEVEL=INFO
LINKPARSE_ORT_INTRA_OP_NUM_THREADS=3
LINKPARSE_ORT_INTER_OP_NUM_THREADS=1
LINKPARSE_BIND_ADDRESS=127.0.0.1
LINKPARSE_PORT=8080
LINKPARSE_HOST_DATA_DIR=./data
LINKPARSE_SHARED_NETWORK=link_tolink-net
